.board__lane::before,
.board__lane::after
{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0;
    top: 0; bottom: 0; left: 1px; right: 2px;
    border-radius: 2px;
    pointer-events: none;
}

.board__lane::before {
    z-index: 2
}

.board__lane::after {
    z-index: 1
}

html[data-whatinput="keyboard"] .board__lane:focus::before {
    border-width: 1px;
}
html[data-whatinput="keyboard"] .board__lane:focus::after {
    border-width: 2px;
}

