# Build project and storybook
# Deploy Storybook to dev.teams.microsoft.com
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr: none

trigger:
  branches:
    include:
      - main
      - next
  paths:
    exclude:
      - docs
      - README.md
      - SECURITY.md
      - CODE_OF_CONDUCT.md

pool:
  name: Azure Pipelines
  vmimage: windows-latest

resources:
  repositories:
    - repository: SkypeSpaces-Infra
      type: git
      name: SkypeSpaces-Infra

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '14.x'
    displayName: 'Install Node.js'

  - script: "yarn"
    displayName: "Install Dependencies"

  - script: "yarn build"
    displayName: "Build Project"

  - script: "yarn test"
    displayName: "Validate Tests"
    enabled: false

  - script: "yarn build:storybook"
    displayName: "Build Storybook"

  - task: AzureFileCopy@2
    displayName: "Deploy Storybook to AzureBlob"
    inputs:
      SourcePath: "$(StorybookDist)"
      azureSubscription: "$(AzureSubscriptionName)"
      Destination: AzureBlob
      storage: "$(StorageAccountName)"
      ContainerName: "$(ContainerName)"
      BlobPrefix: "$(DirectoryName)"

  - task: AzurePowerShell@3
    displayName: "Update Blob Cache Control and Content Type"
    inputs:
      azureSubscription: "$(AzureSubscriptionName)"
      ScriptPath: scripts/UpdateBlobProperties.ps1
      ScriptArguments: "-StorageAccountName $(StorageAccountName) -ContainerName $(ContainerName) -ResourceGroupName $(ResourceGroupName)"
      azurePowerShellVersion: LatestVersion
        
  - template: azure-devops-templates/steps/ServiceTree-Integration.yml@SkypeSpaces-Infra
    parameters:
      serviceTreeID: 0d2a05ae-fe20-4dc1-b8dd-d23a9ccdd27a
      isProduction: true
